header.services-masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: url("../../../assets/bg-masthead\ copy2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    /* responsive image */
    /* background-repeat:no-repeat;
    background-size: 100%;
    background-position:top left; */
}
  
  .servicesCard {
      text-align: center;
      border-radius: 4px;
      background: #fff;
      box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 85px 30px 60px;
    cursor: pointer;
  }
  
  .servicesCard:hover{
       transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  
  .servicesCard h3{
    font-weight:200;
  }
  
  .servicesCard img{
    position: absolute;
    top: 20px;
    right: 15px;
    max-height: 120px;
  }
  
  .card-1{
    background-image: url("../../../assets/icon-2-01.png");
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  .card-2{
     background-image: url("../../../assets/icon-4-01.png");
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  .card-3 {
     background-image: url("../../../assets/icon-1-01.png");
        background-repeat: no-repeat;
      background-position: right;
      background-size: 80px;
  }
  
  @media(max-width: 990px){
    .card{
      margin: 20px;
    }
  } 

.text-muted {
  padding-top: 5px;
  padding-bottom: 10px;
  }