    header.masthead h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 800px;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 3.5rem;
    }
  }
  
  #loginBtn:focus, .btn:active {
    box-shadow: none; /* Removes blue halo */
  }
  
  #loginBtn {
    background-color: #73B81B;
    cursor: pointer;/* Pointer/hand icon */
    outline: none;
    color:white;
    border-width: 2px;
    height: auto;
    width:250px;
  }
  
  .tagLine {
    color:white;
    margin: 30px;
  }

  .logoJumbotron {
    max-width: 50%;
    height: auto;
  }

  .container-jumbotron {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
  }
