    header.masthead h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 3.5rem;
    }
  }
  
  #loginBtn:focus, .btn:active {
    box-shadow: none; /* Removes blue halo */
  }
  
  
  .tagLine {
    color:white;
    margin: 30px;
  }