.d-flex {
    justify-content: center;
    padding: 20px;
}

.display-message {
    color:#A9A9A9;
}

.text-center {
    padding-bottom: 32px;
}

.form-control {
    box-shadow: none !important; /* Removes blue halo */
}

.FormBtn {
    box-shadow: none !important; /* Removes blue halo */
}

form {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
}

@media (min-width: 600px) {
    form {
        width: 60%;
        max-width: 500px;
        padding: 20px;
    }
}

form .formGroup {
    margin: 0;
    width: 100%;
}

form .form-group input {
    width: 100%;
    margin: 10px;
    padding: 5px;
}

form .formBtn {
    background-color:#73B81B;
    border-color: #73B81B;
}

form .formBtn i {
    margin: 0 1em;
    background-color: #73B81B;
}

.btn-success {
    background-color: #73B81B;
    border-color: #73B81B;
    cursor: pointer !important;
    margin: 6px !important;
    
}

.btn-success:hover {
    background-color:#73B81B;
    border-color: #73B81B;
    color: white;
    cursor: pointer;
}

.form-control {
    box-shadow: none; /* Removes blue halo */
}

.btnSearch {
    margin: auto 0 !important;
}


.table {
    margin: 40px;
}

input.form-control {
    padding: 10px !important;
    margin: 10px !important;
}

.form-group {
   width: 30%;
   margin: 0 auto;
   margin-left: 20px;
   display: inline-block;
}

.text-muted2 {
    margin: 0 auto !important;
}

div.noResults {
    padding: 10px !important;
}